main
    .maininfo
        .container
            .maininfo__top
                h1.maininfo__title Проведение медицинских осмотров работников

                .maininfo__subtitle Медицинские профосмотры работников по приказу 302н

                .gerb
                    .gerb__img
                        img(src="img/gerb.png")

                    .gerb__article Имеется лицензия на проведение медицинских осмотров работников

                ul.info-list
                    li
                        .info-list__img
                            img(src="img/records.png" width="60" height="60")

                        .info-list__article
                            .info-list__title Цена за одного сотрудника
                            .info-list__price от 1 000 руб.
                    li
                        .info-list__img
                            img(src="img/ambulance.png" width="60" height="60")

                        .info-list__article
                            .info-list__title Без отрыва от работы
                            .info-list__price осмотр с выездом
                    li
                        .info-list__img
                            img(src="img/medical.png" width="60" height="60")

                        .info-list__article
                            .info-list__title За один день проверяем
                            .info-list__price до 70 сотрудников

            .maininfo__middle
                .maininfo__img-mob
                    img(src="img/Female-Physician.jpg")

                ul.maininfo__contact
                    li
                        .count-centers
                            .count-centers__num 25
                            .count-centers__article Медицинских центров
                    li
                        .maininfo__phone-title Для заключения договора обращайтесь по телефону:

                        a(href="tel:74956496451").recall-num 
                            |+7 495  
                            span 649-64-51
                    li
                        span Единый номер колл-центра

            .maininfo__bottom
                form.formtop(action="#")
                    ul.formtop__list
                        li
                            label
                                .formtop__inp-title Имя
                                input(type="text" placeholder="Имя").formtop__inp
                        li
                            label
                                .formtop__inp-title Телефон
                                input(type="text" placeholder="+7 ___ ___-__-__").formtop__inp
                        li
                            label
                                .formtop__inp-title Количество сотрудников:
                                .custom-select
                                    select 
                                        option 10 человек
                                        option 30 человек
                                        option 40 человек

                    button(type="submit").btn.formtop__btn Оформить заявку

    .cont-txt.container.cont-txt_top
        h2.cont-title Профосмотры работников с выездом в Москве и МО
        .cont-txt__article 
            p Для получения водительского удостоверения на право управления транспортными средствами необходимо в ГИБДД предоставить «Медицинское заключение о наличии (об отсутствии) у водителей транспортных средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или медицинских ограничений к управлению транспортными средствами» по новой форме 003- В/у.


    .blockinfo.container
        h2.cont-title.blockinfo__main-title Организация выездного медосмотра

        .blockinfo__columns
            .blockinfo__column
                .blockinfo__title Без отрыва сотрудников от работы
                .blockinfo__img
                    img(src="img/medkabinet.jpg")

            .blockinfo__column
                .blockinfo__title Список обязательных обследований:

                ul.blockinfo__list
                    li осмотр у терапевта;
                    li осмотр у нарколога и психиатра;
                    li флюорография;
                    li ЭКГ;
                    li общий анализ крови и мочи.

                .blockinfo__subarticle Женщинам нужно проходить гинекологическое обследование.

            .blockinfo__column
                ul.info-list
                    li
                        .info-list__img
                            img(src="img/doctor.png" width="60" height="60")

                        .info-list__article
                            .info-list__title Все анализы и осмотры входят в стоимость
                            .info-list__price от 1 000 руб. за 1 чел.
                    li
                        .info-list__img
                            img(src="img/calendar.png" width="60" height="60")

                        .info-list__article
                            .info-list__title Полный профосмотр одного человека
                            .info-list__price от 20 минут

                button(type="button").btn.blockinfo__btn Записаться на профосмотр

        .blockinfo__article Вы выбираете дату, и наша бригада врачей приезжает по указанному адресу на специально оборудованном мобильном медкомплексе. В нем оборудовано 4 кабинета, для приема разных специалистов, в том числе и для приема анализов. Медкомплексы отвечают стандартам пожарной безопасности и требованиям СанПиНа.

    .blockinfo.container
        h2.cont-title.blockinfo__main-title Прохождение медосмотра в медцентре

        .blockinfo__columns
            .blockinfo__column
                .blockinfo__title Без очередей и ожидания
                .blockinfo__gallery.swiper-container
                    .swiper-wrapper
                        .swiper-slide 
                            img(src="img/medkabinet2.jpg")
                        .swiper-slide 
                            img(src="img/medkabinet2.jpg")
                        .swiper-slide 
                            img(src="img/medkabinet2.jpg")

                    .swiper-pagination

                    .swiper-button-next
                    .swiper-button-prev


            .blockinfo__column
                .blockinfo__title Для профосмотра потребуется информация::

                ul.blockinfo__list
                    li специфика деятельности организации;
                    li количество работников для осмотра;
                    li список контингентов;
                    li удобное время для организации осмотра.

                .blockinfo__subarticle Менеджер медцентра в короткое время определит стоимость обследования и подготовит необходимую информацию.

            .blockinfo__column
                ul.info-list
                    li
                        .info-list__img
                            img(src="img/doctor-w.png" width="60" height="60")

                        .info-list__article
                            .info-list__title Все анализы и осмотры входят в стоимость
                            .info-list__price от 1 000 руб. за 1 чел.
                    li
                        .info-list__img
                            img(src="img/hospital.png" width="60" height="60")

                        .info-list__article
                            .info-list__title Филиалы в Москве и МО рядом с метро
                            .info-list__price 25 филиалов

                button(type="button").btn.blockinfo__btn Записаться на профосмотр

        .blockinfo__article Все клиники нашей сети имеют официальную лицензию, а также располагают штатом квалифицированного персонала и необходимыми условиями для проведения медицинских профосмотров сотрудников. Мы готовы в кратчайшие сроки провести обследование, в перечень услуг входит организация выездных медкомиссий для работников на территорию предприятий.

    .types-block.container
        h2.cont-title Виды профосмотров

        ul.types-list 
            li 
                a(href="#") Предварительный медосмотр
            li 
                a(href="#") Периодический профосмотр
            li
                a(href="#") Внеочередной осмотр
            li 
                a(href="#") Выездной профосмотр
            li
                a(href="#") Осмотр при поступлении в учебное заведение
            li 
                a(href="#") Предрейсовый медосмотр водителей

    .table-block.container
        table.price-table
            thead
                tr 
                    th Наименование услуги

                    th Цена, руб.

                    th Онлайн запись

            tbody 
                tr
                    td 
                        .price-table__article Медицинские осмотры (предварительные, периодические) без оформления личной медицинской книжки
                    td
                        .price-table__mob Цена, руб.
                        .price-table__price от 1 000 руб. за 1 чел.
                    td
                        .price-table__img
                            img(src="img/tick.png" width="30" height="30")

                tr
                    td 
                        .price-table__article Медицинские осмотры (предварительные, периодические) с оформлением личной медицинской книжки
                    td
                        .price-table__mob Цена, руб.
                        .price-table__price от 2 000 руб. за 1 чел.
                    td
                        .price-table__img
                            img(src="img/tick.png" width="30" height="30")

                tr
                    td 
                        .price-table__article Предрейсовые медицинские осмотры на территории клиники
                    td
                        .price-table__mob Цена, руб.
                        .price-table__price 150/день
                    td
                        .price-table__img
                            img(src="img/tick.png" width="30" height="30")

    .recom-block.container
        h2.cont-title Кому необходимо проходить профосмотры?

        ul.recom-list
            li Трудоустройство несовершеннолетних;
            li Работа на Крайнем Севере;
            li Устройство на должность, связанную с пищевой промышленностью, общественным питанием и торговлей;
            li Получение должности в лечебно-профилактических и детских учреждениях;
            li Лица младше 21 года;
            li Сотрудники детских учреждений;
            li Сотрудники медучреждений;
            li Работники водопроводных сооружений;
            li При контакте с вредными и опасными для работника факторами.
            li Работники организаций торговли и общественного питания;
            li Сотрудники, выполняющие свои обязанности во вредных и опасных условиях.

    .cont-txt.container.cont-txt_bottom
        h2.cont-title Профосмотры работников с выездом в Москве и МО
        .cont-txt__article 
            p Для получения водительского удостоверения на право управления транспортными средствами необходимо в ГИБДД предоставить «Медицинское заключение о наличии (об отсутствии) у водителей транспортных средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или медицинских ограничений к управлению транспортными средствами» по новой форме 003- В/у.
    .container
        form.formrecall
            .formrecall__columns
                .formrecall__column
                    .formrecall__img-mob
                        img(src="img/doc-mob.jpg")

                    .formrecall__img-desc
                        img(src="img/doc-w.png")

                .formrecall__column
                    .formrecall__inner
                        .formrecall__column_inner
                            .formrecall__title Заполните онлайн заявку и запишитесь на профосмотр сотрудников

                            ul.formrecall__list
                                li
                                    label
                                        .formrecall__inp-title Имя
                                        input(type="text" placeholder="Имя").formrecall__inp
                                li
                                    label
                                        .formrecall__inp-title Телефон
                                        input(type="text" placeholder="+7 ___ ___-__-__").formrecall__inp
                                li
                                    label
                                        .formrecall__inp-title Выберите кол-во сотрудников:
                                        .custom-select.formrecall__select
                                            select 
                                                option 10 человек
                                                option 30 человек
                                                option 40 человек

                        .formrecall__column_inner
                            button(type="submit").btn.formrecall__btn Отправить заявку

                            .privacy
                                input(type="checkbox")#privacycheck.privacy__check
                                label(for="privacycheck").privacy__label
                                    |Я принимаю 
                                    a(href="#") условия передачи информации